
# Hardware Validation Log

This document logs which firmware has been flashed-to and tested on
actual hardware.

| MCU       | Output Scheme   | Firmware Version | Notes |
| ATtiny13a | CD4053 Simple   | pre-v0.9.0       | [Build report](https://forum.pedalpcb.com/threads/custom-barber-ltd-sr-w-microcontroller-bypass.29615/) |
| ATtiny13a | CD4053 Muting   | v0.9.9           | [Quasi-IC](https://www.diystompboxes.com/smfforum/index.php?msg=1312340), [Build report](https://forum.pedalpcb.com/threads/dynamic-haircut-v2-0-barber-gain-changer.29479/post-393071) |
| ATtiny13a | TQ2-L2-5V Relay |                  |       |
| ATtiny45  | CD4053 Simple   |                  |       |
| ATtiny45  | CD4053 Muting   |                  |       |
| ATtiny45  | TQ2-L2-5V Relay |                  |       |
| ATtiny85  | CD4053 Simple   |                  |       |
| ATtiny85  | CD4053 Muting   |                  |       |
| ATtiny85  | TQ2-L2-5V Relay |                  |       |
| ATtiny202 | CD4053 Simple   |                  |       |
| ATtiny202 | CD4053 Muting   |                  |       |
| ATtiny202 | TQ2-L2-5V Relay |                  |       |
| PIC10F320 | CD4053 Simple   |                  |       |
| PIC10F320 | CD4053 Muting   | v0.9.7           | [Build report](https://forum.pedalpcb.com/threads/25-year-pollinator-one-control-silver-bee-hamishr-mod.30010/) |
| PIC10F320 | TQ2-L2-5V Relay |                  |       |
| PIC10F322 | CD4053 Simple   |                  |       |
| PIC10F322 | CD4053 Muting   |                  |       |
| PIC10F322 | TQ2-L2-5V Relay |                  |       |
| PIC12F675 | CD4053 Simple   |                  |       |
| PIC12F675 | CD4053 Muting   |                  |       |
| PIC12F675 | TQ2-L2-5V Relay |                  |       |


## Additional Notes

  - The AVR Classic parts (ATtiny13a, ATtiny45, ATtiny85) have the same pinout and can be used interchangeably
  - The PIC10F32x parts have the same pinout and can be used interchangeably
